<div class="profile-container">

  <div class="user">
    <h2>Hi, Katalin!</h2>
    <%= image_tag 'avatar.jpg', alt: 'Avatar', class: 'avatar' %>

    <div class="user-details">
      <p><strong>Name: </strong> Katalin </p>
      <p><strong>Surname: </strong> Smith </p>
      <p><strong>Email:</strong> kathy.smith@gmail.com</p>
    </div>


    <%= link_to "Edit", edit_user_registration_path, class: 'button-pink edit-button' %>
  </div>

    <div class="favorites">
      <ul class='list-group'>
        <% @user.favorites.each do |favorite| %>
            <li class="list-group-item card-hover">
          <%= link_to airline_path(favorite.policy.airline) do %>
            <h2><%= favorite.policy.airline.name %> | <%= favorite.policy.title %></h2>
            <p><%= favorite.policy.content %></p>
          <% end %>
            <%= button_to raw('<i class="fa-regular fa-trash-can"></i>'), airline_policy_favorite_path(favorite.policy.airline, favorite.policy, favorite), method: :delete, class: 'profile-icon', data: { confirm: 'Are you sure?' } %>
            </li>
        <% end %>
      </ul>
    </div>

</div>
