<nav class="navbar">
  <div class="navbar-content">
    <div class="logo rotate-center">
      <a href="<%= root_path %>">
              <%= image_tag 'logo.png', alt: 'logo' %>
      </a>
    </div>
    <ul class="nav-links">
      <li class="nav-item">
      <div class="dropdown">
        <% if user_signed_in? %>
            <button class="button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i> Account
            </button>
            <ul class="dropdown-menu custom-dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li class="dropdown-item custom-dropdown-item"> <%= link_to "Profile", user_profile_path %></li>
              <li class="dropdown-item custom-dropdown-item"> <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %> </li>
            </ul>
          <% else %>
            <li class="nav-item">
              <a class="button" id="nav-button" href="<%= new_user_session_path %>"><i class="fa-solid fa-user"></i> Login</a>
            </li>
        <% end %>
      </div>
      </li>
    </ul>
  </div>
</nav>
