<div>
  <%= image_tag 'banner.jpg', alt: 'banner', class: 'banner'%>
</div>

<div data-controller="search-dropdown">
  <%= form_with url: search_airlines_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Enter airline name",
          data: { action: "input->search-dropdown#search", target: "search-dropdown.query" }
    %>
    <%= submit_tag "Search", name: "", class: "button-pink" %>
  <% end %>
  <div data-target="search-dropdown.results" class="dropdown-menu show" style="display: none;"></div>

<div class="subscribe-container">
  <div class="subscribe-content">
    <h2>Subscribe to our newsletter</h2>
    <p>Get the latest news and updates from our website</p>
    <form class="subscribe-form">
      <div class="input-wrapper">
      <input type="email" placeholder="Enter your email">
      <button class="button" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
  <div>
    <a class="subscribe-image" href="#">
      <%= image_tag 'mail.png', alt: 'subscribe' %>
    </a>
  </div>

</div>
