<div>
  <%= image_tag 'banner.png', alt: 'banner', class: 'banner'%>
</div>

<%# SEARCH SECTION %>
<div data-controller="search-dropdown">
  <%= form_with url: search_airlines_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Enter airline name",
          data: { action: "input->search-dropdown#search", target: "search-dropdown.query" }
    %>
    <%= submit_tag "Search", name: "", class: "button-pink" %>
  <% end %>
  <div data-target="search-dropdown.results" class="dropdown-menu show"></div>
</div>

<%# CAROUSEL %>
<div id="infoCardCarousel" class="carousel slide" data-pause="false">
  <div class="carousel-inner">
    <% @airlines.each_slice(3).with_index do |airline_group, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <div class="container">
          <div class="row justify-content-center">
            <% airline_group.each do |airline| %>
              <div class="col-md-4 d-flex align-items-stretch">
                <div class="info-card policy-card ml-3">
                  <div class="airline-logo">
                    <% if airline.logo.attached? %>
                      <%= cl_image_tag airline.logo.key, alt: "#{airline.name} Logo" %>
                    <% else %>
                      <%= image_tag 'klm.jpeg', alt: "#{airline.name} Logo" %>
                    <% end %>
                  </div>
                  <div class="airline-contact">
                    <h2><%= airline.name %></h2>
                    <p><strong>Contact Info:</strong> <a href="<%= airline.contact_info %>"><%= airline.contact_info %></a></p>
                    <p><%= airline.description %></p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#infoCardCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#infoCardCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<%# SUBSCRIBE SECTION %>
<div class="subscribe-container">
  <div class="subscribe-content">
    <h2>Subscribe to our newsletter</h2>
    <p>Get the latest news and updates from our website</p>
    <form class="subscribe-form">
      <div class="input-wrapper">
        <input type="email" placeholder="Enter your email">
        <button class="button" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
  <div>
    <a class="subscribe-image" href="#">
      <%= image_tag 'mail.png', alt: 'subscribe' %>
    </a>
  </div>
</div>
