<h1>Welcome to the Airline Show Page for <%= @airline.name %></h1>


<% @policies.each do |policy| %>
 <p><strong><%= policy.category %> | <%= policy.title %>:</strong></p>
 <p><%= policy.content %></p>

<%= form_with url: airline_policy_favorites_path(@airline, policy), method: :post do %>

  <%= submit_tag 'Add to Favorites', class: 'btn btn-primary' %>
<% end %>

<% end %>
